body{
	display: block;
	background:#eee;
}

h1{
	margin-left:10%;
	text-align:center;
}
h2.info{
	text-align:center;
	color: #04B4AE;
}
h5.category{
	margin: 0;
	font-size:120%;
	text-align:center;
}

/* 导航栏 */
/* -------------------------------- */
.menu {
position: fixed;
height: calc(3vh);
background-color: #00000010;
border-radius: 10px;
}


/* 搜索框 */
/* -------------------------------- */
input, button {
	border: none;
	outline: none;
}

input {
	width: 100%;
	height: 42px;
	padding-left: 13px;
	padding-right:46px;
}

button {
	height: 42px;
	width: 42px;
	cursor: pointer;
}


.shbar input, .shbar button {
	border-radius: 3px;
}

.shbar button {
	height: 26px;
	width: 26px;
	top: 8px;
	right: 8px;
	background: #04B4AE;
}
.shbar button:before {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: bold;
	background: #04B4AE;
}


/* 瀑布流 */
/* -------------------------------- */
div.masonry{
	column-count:8;
	column-gap:0;
}

p.intro {
	margin-left:10%;
	color:#bbb;
}

div.item{
	break-inside: avoid;
	box-sizing:border-box;
	padding:10px;
	margin:10px;
	background:#0000;
	border-radius:10px;
	color:#04B4AE;
	margin:5px;
}


img.bar {
	border-radius: 10px;
	max-width: 100%;
    height: auto;
	-o-box-shadow:      12px 12px 29px #555;
	-icab-box-shadow:   12px 12px 29px #555;
	-khtml-box-shadow:  12px 12px 29px #555;
	-moz-box-shadow:    12px 12px 29px #555;
	-webkit-box-shadow: 12px 12px 29px #555;
	box-shadow:         12px 12px 29px #555;
}



/* 浮窗 */
/* -------------------------------- */
.floatbar-l{
	display: none; 
	border-radius: 10px 0 0 10px;
	position: fixed; 
	top: calc(5vh); 
	left: calc(10vw); 
	width: calc(40vw); 
	height: calc(80vh); 
	padding: 20px; 
	/* border: 10px solid orange;  */
	background-color: #00000050; 
	/* z-index:1002; 
	overflow: auto; */ 

}

.floatbar-r{
	display: none; 
	border-radius: 0 10px 10px 0;
	position: fixed; 
	top: calc(5vh); 
	left: calc(50vw); 
	width: calc(40vw); 
	height: calc(80vh); 
	padding: 20px; 
	/* border: 10px solid orange;  */
	background-color: #ffffff; 
	/* z-index:1002; 
	overflow: auto; */ 
}

.floatbar{
	display: none; 
	border-radius: 10px;
	position: fixed; 
	top: calc(5vh); 
	left: calc(5vw); 
	width: calc(80vw); 
	height: calc(80vh); 
	padding: 20px; 
	/* border: 10px solid orange;  */
	background-color: #00000050;  
	/* z-index:1002; 
	overflow: auto; */ 
}

.show {
	/* border-radius: 10px; */
    text-aligen:center;
	max-height: 100%;
	max-width:90%;
}

p.tags{
	display: none;
}

a:link{
	font-size:100%;
	text-decoration: none;
	color:#04B4AE;
}
a:visited{
	font-size:90%;
	text-decoration: none;
	color:#04B4AE;
}
a:hover{
	font-size:120%;
	text-decoration: none;
	color:#8E44AD;
}

.close{
	position: absolute;
	width: calc(2vw); 
	height: auto; 
	top: calc(1vw);
	right: calc(1vw);
}


.r18{
	display: none;
}
